<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">DisruptiBo</h2>
                </div>
            </div>
            <div class="row container">
                <b>DisruptiBo</b> (de disruptivo) adj. Dícese de una persona emprendedora de Bolivia que cuestiona, crea y actúa en pro de su comunidad rompiendo viejos paradigmas y siendo un agente de cambio.

                 <center><a href="#" class="page-scroll btn btn-xl">Registration Closed</a></center>
            </div>
        </div>
    </section>