<!-- Services Section -->
    <section id="intro">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">EN QUÉ CONSISTE?</h2>
                </div>
            </div>
         
            <style>
                #intro{
                    padding: 50px !important;
                }
                p{
                    color: black !important;
                }

                ul li{
                    color: black !important;
                }

                ol li{
                    color: black !important;
                }

                h2{
                    text-align: center;
                    padding: 32px;
                }

                .apply_btn{
                    margin-top: 60px;
                }
            </style>
        
            
            <p>
                <b>DisruptiBo</b> 
                (de disruptivo) adj. Dícese de una persona emprendedora de Bolivia que cuestiona, crea y actúa en pro de su comunidad rompiendo viejos paradigmas y siendo un agente de cambio.
            </p>

            <p>
                La juventud boliviana está ansiosa por tomar las riendas de su futuro y estos jóvenes agentes de cambio merecen oportunidades que les permitan materializar sus sueños de una Bolivia estable, en progreso, unida y solidaria. 
            </p>

            <p>
                Así nace esta iniciativa sin fines de lucro que otorgará <b>100 becas</b> completas valoradas en 2000 $ a 100 jóvenes bolivianos para que se capaciten en metodologías y herramientas primordiales para poner en marcha sus ideas y mejorar sus emprendimientos. 
            </p>

            <p>
                Además; los becarios implementarán de manera práctica el material desarrollado por <b>Agora Partnerships,</b> una organización internacional pionera que está acelerando el cambio hacia un mundo más sostenible y equitativo a través del apoyo a emprendedores de alto impacto. Se abordarán herramientas para la identificación de oportunidades y validación de ideas como ser:
            </p>

            <ul>
                <li>Etnografía (marco aeiou)</li>
                <li>Entrevista</li>
                <li>Perfil de Usuario</li>
                <li>Marco AEESE</li>
                <li>Categorización</li>
                <li>Aprendizajes (insights)</li>
                <li>CPN, Ideación y Priorización</li>
                <li>Matriz Pugh</li>
                <li>Dimensionamiento del mercado</li>
                <li>Problemeter</li>
                <li>Análisis competitivo</li>
                <li>Prueba de humo</li>
                <li>Y más!</li>
            </ul>

            
                <h2 class="section-heading">QUIÉNES PUEDEN POSTULAR?</h2>
        

            <p>
                Bolivianos de cualquier ciudad entre 20 y 30 años de edad, que tengan un emprendimiento menor a un año o una idea de negocio rondando en su cabeza. Y que puedan asistir a las capacitaciones presenciales en una de estas ciudades:
            </p>

            <ul>
                <li><b>Santa Cruz: 8 y 9 de mayo</b> </li>
                <li><b>Cochabamba: 15 y 16 de mayo</b></li>
            </ul>

            <p>
                Los postulantes seleccionados que no vivan en Cochabamba o Santa Cruz, serán responsables de cubrir todos los gastos que permitan su asistencia al evento como ser transporte, hospedaje, alimentación fuera del evento, etc.
            </p>


            <h2 class="section-heading">PROCESO DE SELECCIÓN Y CAPACITACIÓN</h2>
            

            <ol>
                <li><b>Del 4 al 22 de marzo:</b> Llenar el formulario de inscripción adjuntando el comprobante de pago de Bs. 70 (10$) los cuales serán donados en su totalidad a una fundación o causa concreta que se elegirá entre todos los participantes del evento.</li>
                <li><b>Del 3 al 5 de abril:</b> Notificación a postulantes seleccionados</li>
                <li><b>Del 13 al 24 de abril: </b>Capacitaciones virtuales y envío de primeros avances</li>
                <li><b>8 y 9 de mayo: </b>Capacitaciones presenciales en Santa Cruz </li>
                <li><b>15 y 16 de mayo:</b>Capacitaciones presenciales en Cochabamba</li>
            </ol>
        
            <div>
                <center><a href="#" class="page-scroll btn btn-xl apply_btn">Aplicar ahora!</a></center>
            </div>
            
           
        </div>
    </section>