<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">NO ESPERES EL CAMBIO, CRÉALO!<br></div>
                <div class="intro-lead-in"> Cochabamba: 15 y 16 de mayo </div>
                <div class="intro-lead-in"> Santa Cruz: 8 y 9 de mayo </div>
                <a href="#intro" class="page-scroll btn btn-xl">Quiero más info!</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2016_data/js.html %}

    </body>
</html>